:root {
	--primary: #01C0F7;
	--secondary: #008db4;
	--light: #DDDDDD;
	--dark: #101010;
	--white: #FFFFFF;
	--black: #000000;
}

/* No Theme */
body {
	--color: var(--light);
	--background: var(--dark);

	--box-color: var(--dark);
	--box-background: var(--white);

	--tag-color: var(--white);
	--tag-background: hsl(from var(--white) h s l / 0.2);
		
	--link: var(--primary);
	--link-hover: inherit;
	
	color: var(--color);
	background-color: var(--background);
}

/* Light Theme */
.lt {
	--background: var(--light);

	--box-background: var(--white);
}

/* Dark Theme */
.dk {
	--color: var(--white);
	--background: var(--black);

	--box-background: var(--dark);
}

/* Sections */
.lt, .dk {
	color: var(--color);
	background-color: var(--background);
}

/* Headings */
header > small {
	opacity: 0.4;
}

h1, h2, h3, h4, h5, h6,
[class*='fnt_t'] {
	color: var(--white);

	strong {
		color: var(--primary);
	}

}

/* Links & Buttons */
a, button {
	color: var(--link);
	
	@media(hover: hover) and (pointer: fine) {
		
		&:is(:hover, :focus-visible) {
			color: var(--link-hover);
		}
		
	}
	
}

/* Box */
.bx {
	color: var(--box-color);
	background-color: var(--box-background);
}

/* Tag */
.tag {
	color: var(--tag-color);
	background-color: var(--tag-background);
}