@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Playfair+Display:400,700&display=block");

:root {
  --bs-fnt-s: 16px;

  --fnt-t: 'Playfair Display', serif;
  --fnt-m: 'Open Sans', sans-serif;
}

html {
  font-size: round(var(--bs-fnt-s), 1px);
  font-family: var(--fnt-m);
  line-height: 1.75;
}

header > small {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.035em;
}

h1, h2, h3, h4, h5, h6,
section header > :first-child:not(small, p),
section header > small + :nth-child(2):not(p) {
  line-height: 1.25;
  font-weight: inherit;
  font-family: var(--fnt-t);
}

h1,
section header > :first-child:not(small, p),
section header > small + :nth-child(2):not(p),
.cnt > :first-child:where(h2, h3, h4, h5, h6) {
  display: block;
  font-size: 2.556rem;
}

h2,
aside header > :first-child:not(small, p),
aside header > :where(small, p) + :nth-child(2):not(p),
.cnt > :nth-child(2):where(h3, h4, h5, h6) {
  font-size: 2rem;
}

h3 {
  font-size: 1.333rem;
}

h4 {
  font-size: 1.111rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 1rem;
}

blockquote {
  font-size: 1.111rem;

  address {
    font-size: 0.889rem;
  }
}
